:root {
  --primary-font: 'Nanum Gothic', Arial, Helvetica, sans-serif;
  --primary-color: #888;
  --accent-color: #ef513c;
}

* {
  padding: 0;
}

html {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--primary-font);
}

.header1,
.logo,
.hide,
.hide2,
.hidecard,
.hidemore,
.hidecredits,
.hidecredits2 {
  display: none;
}

.header2 {
  color: var(--primary-color);
  font-weight: bold;
  background-image: url("./images/mainmobilebackground.png");
  background-size: 100%;
  height: 100vh;
}

.ulheader2 {
  padding: 0;
  margin-top: 0;
}

.ulheader2 li {
  background-color: rgb(39, 42, 50);
  opacity: 0.95;
  list-style: none;
  line-height: 3em;
  padding-left: 32px;
}

.ulheader2 li a {
  text-decoration: none;
  color: var(--primary-color);
}

.button {
  border: none;
  margin: 24px 0 0 24px;
  background-color: white;
  cursor: pointer;
}

.ex {
  display: flex;
  justify-content: flex-end;
  margin: 0 64px 0 0;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

#goToActs:hover,
.about:hover {
  font-size: 24px;
  cursor: pointer;
}

.header3 {
  margin: 80px 16px 0 24px;
}

.hello {
  color: red;
  font-size: 20px;
}

.massive {
  color: red;
  font-size: 200%;
  font-weight: bolder;
}

.extreme {
  border: 4px solid white;
  padding: 4px 8px 16px 8px;
}

.date {
  font-size: 180%;
  font-weight: bolder;
  color: #3e3e3e;
}

.mainprogram {
  background-image: url("./images/mainprogram_bg.png");
  background-color: rgb(39, 42, 50);
  display: flex;
  flex-direction: column;
}

.mainprog {
  color: white;
  font-size: 24px;
  align-self: center;
  margin: 40px 0 16px 0;
}

.redline {
  width: 40px;
  height: 1.5px;
  align-self: center;
  background-color: #ff4f38;
  margin-bottom: 24px;
}

.mainreferences {
  display: flex;
  margin: 12px 24px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.redtext {
  align-self: center;
  margin: 0 24px;
  min-width: 11vw;
  color: var(--accent-color);
  font-size: 14px;
  font-weight: bold;
}

.normaltext {
  align-self: center;
  color: white;
  font-size: 12px;
}

.tickets {
  color: white;
  font-size: 20px;
  background-color: var(--accent-color);
  align-self: center;
  padding: 32px 56px;
  margin: 48px 0;
  border: none;
}

.moreinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moretitle {
  padding: 0;
}

.maincard {
  display: flex;
  margin: 16px;
}

.cardcontent {
  list-style: none;
  margin: 0 16px;
}

.cardtitle {
  font-size: 22px;
  font-weight: bold;
  color: #272a32;
}

.philantropy {
  color: #ff4f38;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  margin-top: 8px;
}

.cardline {
  border-bottom: 2px solid var(--primary-color);
  margin-top: 8px;
  width: 32px;
}

.cardphrase {
  margin-top: 16px;
  color: #272a32;
  font-size: 13px;
}

.more {
  margin-bottom: 24px;
}

.morebutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: white;
  border-color: #e8dfdd;
}

.arrow {
  margin: 0 8px 10px 8px;
  font-size: 24px;
  color: #ff4f38;
}

.maincard img {
  width: 150px;
  height: 150px;
}

.credits {
  background-color: #414246;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnertitle {
  color: #919193;
  font-size: 24px;
  font-weight: bolder;
}

.partner {
  margin-bottom: 12px;
}

.ulpartner,
.ulcredits2 {
  list-style: none;
}

.credits2 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.rights {
  color: #77777a;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 768px) {
  .ulheader2 li,
  .hide li {
    background-color: white;
    margin: 0 18px;
    align-self: center;
    list-style: none;
    padding-left: 0;
  }

  .ex,
  .button,
  .more {
    display: none;
  }

  .hide li a {
    text-decoration: none;
    color: var(--primary-color);
  }

  .massive {
    max-width: 70%;
    margin-bottom: 8px;
  }

  .extreme {
    max-width: 50%;
  }

  .date {
    margin-bottom: 12px;
  }

  .header {
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    width: 100%;
  }

  .header1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 4vh;
    margin: 0;
    padding-left: 0;
    color: white;
  }

  .header1 li {
    list-style: none;
    margin: 0 12px;
  }

  .header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: white;
    background-image: none;
    color: var(--primary-color);
    font-weight: bold;
  }

  .header25 {
    display: flex;
    flex-direction: column;
  }

  .header225 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .ulheader2,
  .hide {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .about {
    color: var(--accent-color);
  }

  .campaign {
    border: 4px solid var(--accent-color);
    padding: 4px;
    color: var(--accent-color);
  }

  .header3 {
    background-image: url("./images/maindesktopbackground.png");
    background-size: 100%;
    margin: 0;
    padding: 80px 16px 0 128px;
  }

  .mainreferences {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 16px;
    margin: 0 8px;
  }

  .redtext {
    min-width: auto;
    padding: 12px 0;
  }

  .tickets {
    color: #babbbf;
    background-color: transparent;
    text-decoration: underline;
  }

  .maincontain {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .maincard,
  .hidecard {
    width: 50%;
  }

  /* 'hidecard' class has to hide in mobile part but it has tbod
  be shown in desktop part */
  .hidecard {
    display: flex;
    margin: 16px;
  }

  .cardgroup1,
  .cardgroup2,
  .cardgroup3 {
    display: flex;
    flex-direction: row;
  }

  .maincards {
    max-width: 80%;
  }

  .maincard img,
  .hidecard img {
    width: 180px;
    height: 180px;
  }

  .ulpartner {
    display: flex;
    flex-direction: row;
  }

  .credits2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hidecredits {
    background-color: #414246;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidecredits2 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }
}
